# .env.example
# INSTRUCTIONS: Copy this file, rename it to '.env', and fill in your actual values.
# DO NOT commit your actual '.env' file to version control!

# The base URL and port of your Opentrons robot 
# e.g., "http://ROBOT_IP:31950"
ROBOT_IP=
ROBOT_ADMIN_USER=
ROBOT_ADMIN_PASS=